<div class="base">
  <div class="label">
    Kategóriák
  </div>
  <div class="categories">


    <!--<div class="category" *ngFor="let category of categories">-->
      <!--<button mat-button (click)="onGet()">{{category}}</button>-->
    <!--</div>-->

    <!--'Sci-fi', 'Szatíra', 'Dráma', 'Akció', 'Kaland', 'Romantikus',-->
    <!--'Horror', 'Egészség', 'Tudomány', 'Történelem', 'Matematika', 'Költészet',-->
    <!--'Enciklopédia', 'Művészet', 'Fantasy'-->

    <!--"Category.DRAMA", "Category.AKCIO", "Category.KALAND", "Category.ROMANTIKUS",-->
    <!--"Category.HORROR", "Category.UTAZAS", "Category.GYEREKEKNEK", "Category.MUVESZET",-->
    <!--"Category.FOZES", "Category.ENCIKLOPEDIA", "Category.KOMEDIA", "Category.SCIFI"-->






  </div>
  <div class="label">
    Maximum ár
  </div>

  <div class="slider">
    <p class="slidervalue">{{matslider.value}} Ft</p>
    <mat-slider [max]="maxPrice" [value]="value" [step]="steps" #matslider></mat-slider>

  </div>
  <div class="fill-remaining-space"></div>

</div>
