.label{
  background-color: #3b3b3b;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  font-size: 25px;
   /*font-weight: bold; */

}

ul{
  list-style: none;
}
li{
  padding-left: 30px;
  font-size: 18px;
  margin-top: 6px;
  color: #f6f6f6;

}
.categories{
  margin: 30px 0px 30px 0px;
}

mat-slider {
  width: 200px;
}
