.example-fill-remaining-space {
  flex: 1 1 auto;
}

.header div {
  padding-right: 10px;
}

html, body{
  min-height: 100%;
  min-width: 100%;
}

sidebar {
  float: left;
  background-color: #666666;
  height: 100%;
  width: 20%;
  min-width: 150px;
  padding: 20px 20px 20px 0px;
  color: #cfccd6;
}

.background {
  float: left;
  width: 80%;
  min-height: 100%;
  background-color: #eeeeee;
  padding: 30px;
  overflow: hidden;
}

.content {
  border-style: solid;
  border-color: #505050;
  border-width: 1px;
  border-radius: 5px;
  padding: 30px;
  background-color: white;

}

.wrapper {
  overflow: hidden;
  height: 100%;
flex: auto;
}
