html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal .80em trebuchet ms, sans-serif;
    background-image: url("diagonal-noise.png");
    background-repeat: repeat;

    color: #5d5d5d;
}

p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font: normal 165% 'century gothic', arial, sans-serif;
    color: #2db8cd;
    margin: 0 0 14px 0;
    padding: 10px 0 5px 0;
}

h2 {
    font: normal 165% 'century gothic', arial, sans-serif;
    color: #b60000;
}

h3 {
    font: normal 165% 'century gothic', arial, sans-serif;
}

h4, h5, h6 {
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #b60000;
}

h5, h6 {
    font: italic 95% arial, sans-serif;
    color: #888888;
}

h6 {
    color: #362c20;
}

a, a:hover {
    outline: none;
    text-decoration: underline;
    color: #a4aa04;
}

a:hover {
    text-decoration: none;
}

blockquote {
    margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #e5e5db;
    background: #ffffff;
}

ul {
    margin: 2px 0 22px 17px;
}

ul li {
    list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
}

ol {
    margin: 8px 0 22px 20px;
}

ol li {
    margin: 0 0 11px 0;
}

#main, #logo, #menubar, #site_content, #footer {
    margin-left: auto;
    margin-right: auto;
}

#main {
    padding-bottom: 20px;
}

#header {
    background: transparent;
    height: 110px;
}

#logo {
    width: 860px;
    position: relative;
    height: 80px;
}

#logo h1, #logo h2 {
    font: normal 300% "century gothic", arial, sans-serif;
}

#logo h1 {
    padding: 24px 0 0 0;
    margin: 0;
    color: #C9E3E3;
}

#logo h2 {
    font-size: 120%;
    padding: 4px 0 0 0;
    color: #a8aa94;
}

#logo h1, #logo h1 a, #logo h1 a:hover {
    padding: 22px 0 0 0;
    color: #ffffff;
    text-decoration: none;
}


#logo h1 a .logo_color2 {
    color: #888888;
}



#logo a:hover .logo_color2 {
    color: #ffffff;
}


#menubar {
    height: 24px;
    width: 900px;
}

ul#menu {
    float: right;
    margin: 0;
    padding: 0;
}

ul#menu li {
    float: left;
    padding: 0;
    list-style: none;
    margin: 5px 2px 0 0;
}

ul#menu li a {
    font: normal 100% 'trebuchet ms', sans-serif;
    display: block;
    float: left;
    height: 20px;
    padding: 6px 20px 5px 20px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    background: #e0e0e0;
}

ul#menu li.selected a, ul#menu li.selected a:hover {
    background: #FFF;
    color: #b60000;
}

ul#menu li a:hover {
    color: #b60000;
}

#site_content {
    width: 858px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 10px 20px 20px 20px;
     background: #f6f6f0 url(back.png) repeat-y;
    border: 15px solid #ffffff;
}

.sidebar {
    float: right;
    width: 190px;
    padding: 0 15px 20px 15px;
}

.sidebar ul {
    width: 178px;
    padding: 4px 0 0 0;
    margin: 4px 0 30px 0;
}

.sidebar li {
    list-style: none;
    padding: 0 0 7px 0;
}

.sidebar li a, .sidebar li a:hover {
    padding: 0 0 0 25px;
    display: block;
    background: transparent url(link.png) no-repeat left center;
}

.sidebar li a.selected {
    color: #444444;
    text-decoration: none;
}

#content {
    text-align: left;
    width: 613px;
    padding: 0;
}

#footer {
    width: 916px;
    font-family: sans-serif;
    font-size: 90%;
    height: 28px;
    padding: 0px 0 5px 0;
    text-align: center;
    background: transparent;
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer a, #footer a:hover {
    color: #111111;
    text-decoration: underline;
}

#footer a:hover {
    text-decoration: none;
}

#footer p {
    line-height: 22px;
    padding: 0;
}

.search {
    color: #555555;
    border: 1px solid #dddddd;
    width: 134px;
    padding: 5px;
}



#login_text a {
    color: #ff0000;
    font-size: 85%
}

#login_text {
    color: #001100;
}