<button *ngIf="!user.fullName" (click)="userButtonClicked($event)" mat-button>
  <mat-icon>account_circle</mat-icon>
  <span>Belépés</span>
</button>

<button *ngIf="user.fullName" mat-button [matMenuTriggerFor]="appMenu">
  <mat-icon>account_circle</mat-icon>
  <span>Hello {{user.fullName}}</span>
</button>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>
    <mat-icon> face</mat-icon>
    <span>Profilom megtekintése</span>
  </button>
  <button mat-menu-item>
    <mat-icon> edit</mat-icon>
    <span>Profilom szerkesztése</span>
  </button>
  <button mat-menu-item>
    <span class="logout">
          <i class="fa fa-sign-out" aria-hidden="true"> </i>
    </span>
    <span>Kijelentkezés</span>
  </button>
</mat-menu>
