<div>
  <div class="loginTitle">
    Bejelentkezés
  </div>
  <div>
    <form class="loginForm center">
      <mat-form-field class="form-item">
        <input matInput placeholder="E-mail cím" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Valós e-mail címet adj meg!
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Az e-mail mező <strong>kötelező!</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-item">
        <input matInput placeholder="Jelszó" type="password" [formControl]="passwordFormControl"/>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Az jelszó mező <strong>kötelező!</strong>
        </mat-error>
      </mat-form-field>

      <div class="bottom-form">
        <div align="right" class="btn-line">
          <button mat-raised-button class="pointer" color="primary">Elfelejtett jelszó</button>
          <button mat-raised-button class="pointer" color="primary">Belépés</button>
        </div>
        <div align="right" class="btn-line">
          Nincs még fiókod?
          <button mat-raised-button class="pointer" style="margin-left: 8px" color="primary">Regisztráció</button>
        </div>
      </div>

    </form>
  </div>
</div>
