.column {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
.vl{
    display:inline-block;
    border-left:2px solid grey;
    height:200px;
    
}
.actions{
    list-style-type: none;
    padding-top: 0;


}
.action{
    margin-top: 20px;
}
.label{
    font-size: 150%;

}