mat-toolbar{
  background-color: #1740a5;
  color: white;
}

.toolbar-item {
  padding: 0px 10px;
}

.logo {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.search {
  width: 500px;
}
.toolbar-item/deep/ .mat-input-underline {
  background-color: white;
}
.toolbar-item/deep/.mat-input-placeholder{
  color: white;
  padding-left: 15px;
  font-size: 20px;
}

