<form class="reg-form center">

  <mat-form-field class="form-item">
    <input matInput placeholder="Név"/>
  </mat-form-field>

  <mat-form-field class="form-item">
    <input matInput placeholder="E-mail cím"/>
  </mat-form-field>

  <mat-form-field class="form-item">
    <input matInput placeholder="Jelszó"/>
  </mat-form-field>

  <mat-form-field class="form-item">
    <input matInput placeholder="Jelszó mégegyszer"/>
  </mat-form-field>

  <mat-form-field class="form-item">
    <input matInput placeholder="Telefonszám"/>
  </mat-form-field>

  <mat-form-field class="form-item">
    <input matInput placeholder="Irányítószám"/>
  </mat-form-field>

  <mat-form-field class="form-item">
    <input matInput placeholder="Város"/>
  </mat-form-field>

  <mat-form-field class="form-item">
    <input matInput placeholder="Utca, házszám"/>
  </mat-form-field>

</form>
<div class="bottom-button" align="right">
  <button mat-raised-button color="primary">Regisztrálok</button>

</div>
