<div class="container">
    <form>
      <div class="row">
        <div class="col-25">
          <label>ISBN:</label>
        </div>
        <div class="col-75">
          <input type="text" placeholder="{{isbn}}">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Cím:</label>
        </div>
        <div class="col-75">
          <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label >Ár:</label>
        </div>
        <div >
            <input type="text">
          </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label >Leírás:</label>
        </div>
        <div class="col-75">
          <textarea style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
          <div class="col-25">
            <label>Író:</label>
          </div>
          <div class="col-75">
            <input type="text">
          </div>
        </div>
      <div class="row">
          <div class="col-25">
            <label>Kategória:</label>
          </div>
          <div class="col-75">
            <input type="text">
          </div>
        </div>
      <div class="row">
        <div class="col-25">
          <label>Kiadó:</label>
        </div>
        <div class="col-75">
          <input type="text">
        </div>
      </div>
      <div class="row">
          <div class="col-25">
              <label>Raktáron:</label>
            </div>
          <div class="col-75">
              <input type="checkbox">
          </div>
        
      </div>
     
    </form>
  </div>